<table>
  <a href="<%= @post.url %>"><%= @post.title %></a>
  <a class="like" href="/postvote/new" value=<%=@post.id.to_i %>>Like this post!</a>
  <hr>
  <p>Create New Comment</p>
  <form action="/comment/<%= @post.id %>" method="POST">
    <input class="comment" type="text" name="comment[content]">
    <input type="submit">
  </form>
  <% @post.comments.each do |comment| %>
  <hr>
    <br><tr class="commenter_name">  <a class="comment_like" href="/commentvote/new" value=<%=comment.id.to_i %>>Like this comment!</a><a href="/user/<%= comment.user.id %>">
         <%= comment.user.username %> </a></a></tr><br>
    <tr class="comment_row"><%= comment.content %></tr><br>
  <% end %>

</table>
